@namespace Components
@using Auth0_Blazor.Icons

<MudDrawerContainer Class="test-box">
    <MudDrawer @bind-Open="@_openStart" Anchor="Anchor.Start" Variant="DrawerVariant.Persistent" Fixed="true">
        <NavigationDrawer/>
    </MudDrawer>

    <div class="d-flex flex-column align-items-center justify-content-center overflow-hidden">
        <MudButton OnClick="@ToggleStartDrawer" Class="toggle-button mb-2 d-flex align-items-center justify-content-center green-text mt-3">
            <ToggleNavDrawer/>
            Navigation
        </MudButton>
        @Body
    </div>
</MudDrawerContainer>

@code {
    
    [Parameter]
    public RenderFragment? Body { get; set; }
    private bool _openStart = false;

    private void ToggleStartDrawer()
    {
        _openStart = !_openStart;
    }
}