@font-face {
    font-family: 'fontfile';
    src: url('Fonts/Lexend-Medium.ttf') format('truetype');
}
.body {
    scrollbar-color: #0e7a4a;
}

.grid-layout-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 8px;
}

.plant-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    overflow: visible;
    box-shadow: none;
    max-width: 100vw;
    margin: auto;
    background: none;
    border: none;
}

.image-container {
    position: relative;
    width: 1200px;
    height: 350px;
    overflow: hidden;
    border-radius: 24px 24px 0 0;
}

.mud-card-media {
    border-radius: 12px 12px 0 0;
}

.plant-image {
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 100%;
    object-fit: cover;
    display: block;
    transform: translateX(-50%);
    /*border-radius: 24px 24px 0 0;*/
}

.image-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(255,255,255,0.9) 100%);
    pointer-events: none;
}

.plant-info-overlay {
    position: absolute;
    bottom: 10px; /* Name placed even further down */
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plant-name {
    padding: 4px 12px;
    margin-bottom: 2px;
    font-weight: bold;
    background: none;
    border-radius: 0;
}

.plant-details-below {
    margin-top: 2rem;
    padding: 0 24px;
}

.plant-origin {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.image-container-relative {
    position: relative;
}

.button-bottom-right {
    position: absolute;
    width: 25px;
    height: 34px;
    right: 10px;
    bottom: 10px;
    z-index: 2;
}

.button-bottom-right svg {
    width: 30px;
    height: 30px;
}

.green-text {
    color: #189158;
}

.toggle-button svg {
    width: 30px !important;
    margin-right: 8px;
}

.transparent-button {
    background-color: transparent !important;
    border: none !important;
    color: inherit !important;
    padding: 0 !important;
    cursor: pointer;
}

.mud-drawer::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0.7cm; /* 0.5 centimeter bred */
    height: 100%;
    background: linear-gradient(to right, #fff 0%, #ecf9ec 100%);
    pointer-events: none;
    z-index: 2;
}

.mud-drawer {
    box-shadow: none !important;
    top: 0 !important;
}

.mud-nav-item {
    background-color: transparent !important;
}

.mud-nav-item a {
    background-color: transparent !important;
}

.mud-nav-menu .mud-nav-item {
    background-color: transparent !important;
}

.card-wrapper {
    flex: 1 1 300px; 
    max-width: 300px;
}

.plantcard {
    border-radius: 12px !important;
    height: 450px;
}