@page "/plants/{id:int}"
@using Auth0_Blazor.Models
@using Auth0_Blazor.Services
@using Auth0_Blazor.Services.IService
@inject IPlantService PlantService

<MudPaper Class="plant-details-container mx-auto my-4" Elevation="0" Style="max-width:1000px;">
    <div class="image-container">
        <img src="@Plant?.ImageUrl" alt="@Plant?.Name" class="plant-image" />
        <div class="image-fade"></div>
        <div class="plant-info-overlay">
            <MudText Typo="Typo.h2" Align="Align.Center" Class="plant-name">
                @Plant?.Name
            </MudText>
        </div>
    </div>
    <div class="plant-details-below">
        <MudText Typo="Typo.subtitle2" Align="Align.Left" Class="plant-origin">
            Origin: @Plant?.Origin
        </MudText>
        <MudText Typo="Typo.body1" Class="mt-2">
            @Plant?.Description
        </MudText>
    </div>
</MudPaper>

@code {
    
    [Parameter]
    public int Id { get; set; }
    public required Plant Plant;

    protected override async Task OnInitializedAsync()
    {
        Plant = await PlantService.GetPlantByIdAsync(Id);
    }
    
}