@page "/savedPlants"
@using Auth0_Blazor.Models
@inject ILogger<SavedPlants> Logger
@inject Services.UserService UserService


<AuthorizeView>
    <Authorized Context="authContext">
        @*<p>@UserId</p>*@
    </Authorized>
    <NotAuthorized>
        <p>Du är inte inloggad.</p>
    </NotAuthorized>
</AuthorizeView>

@code {

}