@page "/savedPlants"

@inject Services.UserService UserService

@*
<h3>Din Auth0-användar-id:</h3>
@if (UserId is null)
{
    <p>Du är inte inloggad.</p>
}
else
{
    <p>@UserId</p>
}*@
<AuthorizeView>
    <Authorized Context="authContext">
        <p>@UserId</p>
    </Authorized>
    <NotAuthorized>
        <p>Du är inte inloggad.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string? UserId;

    protected override async Task OnInitializedAsync()
    {
        UserId = await UserService.GetUserIdAsync();
    }
}