@inherits LayoutComponentBase

<PageTitle>PlantCare</PageTitle>


<NavMenu />

@*
<div class="container body-content">*@
@*A layout component (e.g. MainLayout) wraps the content of a page.*@
@*The @Body parameter in the layout is populated automatically with the content of the current page/component. *@
    <LayoutComponent Body="@Body"/>

    <hr />
    
    <footer>
        <p>&copy; 2025 - PlantCare</p>
    </footer>
    @*</div>*@