@inherits LayoutComponentBase

<PageTitle>PlantCare</PageTitle>


<NavMenu />

<div class="container body-content">
    <LayoutComponent Body="@Body"/>

    <hr />
    
    <footer>
        <p>&copy; 2025 - PlantCare</p>
    </footer>
    </div>