@using Auth0_Blazor.Services
@inject NotificationService NotificationService
@inject ILogger<WateringNotificationComponent> Logger
@namespace Components


@foreach (var name in _plantNames)
{
    <div style="position:fixed;top:16px;right:16px;z-index:9999;padding:12px 24px;background:#2196f3;color:white;border-radius:8px;box-shadow:0 2px 8px rgba(0,0,0,.15); margin-bottom:8px;">
        Time to water @name!
    </div>
}

@code {
    private readonly List<string> _plantNames = [];
    
    protected override void OnInitialized()
    {
        NotificationService.OnWateringNotify += Show;
    }
    
    private async void Show(string plantName)
    {
        Logger.LogInformation("Showing watering notification for plant: {PlantName}", plantName);
        await InvokeAsync(() => {
            _plantNames.Add(plantName);
            InvokeAsync(StateHasChanged);
        });
        // Optionally hide after x seconds
        await Task.Delay(5000); // Adjust the delay as needed
        await InvokeAsync(() => {
            _plantNames.Remove(plantName);
            StateHasChanged();
        });
    }
    
    public void Dispose()
    {
        NotificationService.OnWateringNotify -= Show;
    }
}